*.raw
*.vmem
*.mem
*.tar
*.7z
*.dmp
*.rar
*.vmss
GrrCon2015/drive-download-20211115T144441Z-001.zip
GrrCon2015/drive-download-20211115T144441Z-002.zip
*.vmsd
GrrCon2015/Challenge_Files/Pos01/dump/
GrrCon2015/Challenge_Files/Target1/dump/
GrrCon2015/Challenge_Files/Target2/dump/
